{% extends 'base.html' %}
{% block title %}BMW haqida{% endblock %}

{% block content %}
<a class="back" href="{% url 'bmw' %}">⬅ Orqaga</a>

<h1>BMW X5</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW_X5_G05.jpg" width="400">

<p><b>Davlat:</b> Germaniya</p>
<p><b>Model:</b> BMW X5</p>
<p><b>Dvigatel:</b> 3.0L Turbo</p>
<p><b>Tezlik:</b> 250 km/soat</p>

<p>
BMW X5 — premium klassdagi yo‘ltanlamas avtomobil bo‘lib,
qulaylik, kuch va zamonaviy dizaynni birlashtiradi.
</p>
{% endblock %}
